# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/

# Entity Framework
Migrations/

# Other
*.swp
*.log
